{% extends 'base.html' %}
{% block content %}
<body>
    <div>
        <h1>Приложение написано в рамках ДЗ №7.</h1>
        <h4>Для заполнения БД моковыми данными необходимо после запуска контейнера БД - <a href="/user/run-mok-script">запустить модуль.</a></h4>

        <h3>Выполнено:</h3>
        <ul>
            <li>Созданы и описаны файлы docker-compose.yaml и dockerfile.</li>
            <li>Созданы страницы для просмотра всех пользователей, добавления пользователя в БД и поиска по ID.</li>
            <li>Запуск приложения настроен через gunicorn.</li>
        </ul>
    </div>
</body>
{% endblock %}
